@using SqlSugar

@{
    ViewData["Title"] = "LockTables";
}

@{
    SqlSugarClient db = new SqlSugarClient(new ConnectionConfig()
    {
        ConnectionString = new ConfigHelper().Get<string>("mysql:ConnectionString"), //必填
        DbType = DbType.MySql,
        IsAutoCloseConnection = true,
        InitKeyType = InitKeyType.SystemTable
    });

    var sql = @"show OPEN TABLES where In_use > 0;";
    var tableList = db.Ado.SqlQuery<MySqlLockTableViewModel>(sql).ToList();
}
<form>
    <table>
        <thead>
            <tr><th>spid</th><th>表名</th><th><input type="button" value="一键杀死所有" onclick="killSave()" /></th></tr>
        </thead>
        <tbody>

            @{
                foreach (var item in tableList)
                {
                    <tr>
                        <td>@item.Name_Locked</td>
                        <td>@item.Table</td>
                        <td>
                            <input type="button" value="杀死进程" onclick="kill(@item.Name_Locked)" />
                            <input type="hidden" value="@item.Name_Locked" name="Spid" />
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</form>

@section Scripts{

    <script>
        // 保存未有注释的字段列表
        function kill(spid) {
            $.ajax({
                type: "post",
                url: "/SqlServer/KillSingleCommit",
                data: { Spid: spid },
                success: function (data) {
                    window.location.href = "/SqlServer";
                }
            });
        }

        // 保存未有注释的字段列表
        function killSave(spid) {
            var requestData = $("form").serialize();
            $.ajax({
                type: "post",
                url: "/SqlServer/KillListCommit",
                data: requestData,
                success: function (data) {
                    window.location.href = "/SqlServer";
                }
            });
        }


    </script>
}