@{
    ViewData["Title"] = "首页";
}

<h3>
数据库在线文档<br/>

制作此工具的目的是方便管理数据文档，<br/>
可做到完全以数据库为主要（依赖于数据），一次更新，所有能访问的均是一致。<br/>
避免时间一长，数据库文档落差严重问题<br/>
提供的功能如下：<br/>
1.编辑表注释<br/>
2.编辑列注释<br/>
3.列表展示所有表与列<br/>
4.可以一键修改库中，所有同列的注释：比如 创建时间<br/>
5.查看死锁，一键关闭所有死锁<br/>
6.支持sql server, mysql数据库<br/>

<br/>
能不能更新记录，谁,谁,谁 做了什么更新



表名文档<br/>
单个表的所以列文档<br/>
修改字段<br/>
7.搜索功能<br />


8.数据库字段一览表<br />


9.采用cookie 来保存数据库连接信息<br />


</h3>